# =========================================================
# MINDFLOW ENVIRONMENT VARIABLES
# =========================================================

# MongoDB Atlas NoSQL Connection String:
# Get yours for free from https://cloud.mongodb.com
# Example: mongodb+srv://myUser:myPassword@cluster0.abcde.mongodb.net/mindflow?retryWrites=true&w=majority
MONGODB_URI=

# Port to run local server (default: 3000)
PORT=3000
